<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="B708ECB0-4C07-4648-AD00-74F742E86B42" Name="EpicTTS" Language="1033" Version="0.0.0.1" Manufacturer="WixEdit" UpgradeCode="57754D89-DB48-4AB6-A908-54AF7BD84858">
        <Package Description="Simple, powerful software for text-to-speech conversion" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="RELEASE" Name="Release">
                <Component Id="COMMANDLINE.DLL" DiskId="1" Guid="5E5E5752-6DCC-4018-B22D-84417D1F50B0">
                    <File Id="COMMANDLINE.DLL" Name="CommandLine.dll" Source="..\EpicTTS\bin\Release\CommandLine.dll" />
                </Component>
                <Component Id="COMMANDLINE.XML" DiskId="1" Guid="F9933E19-20A5-4D2A-9CCE-012DBE74D6F5">
                    <File Id="COMMANDLINE.XML" Name="CommandLine.xml" Source="..\EpicTTS\bin\Release\CommandLine.xml" />
                </Component>
                <Component Id="EPICTTS.EXE" DiskId="1" Guid="8B1B3677-3536-42CD-B847-3DA6DD96B656">
                    <File Id="EPICTTS.EXE" Name="EpicTTS.exe" Source="..\EpicTTS\bin\Release\EpicTTS.exe">
                        <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="EpicTTS" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
                        <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="EpicTTS" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
                    </File>
                </Component>
                <Component Id="EPICTTS.EXE.CONFIG" DiskId="1" Guid="76A485F9-429A-4BB1-8EA3-8FA53E9E5AE7">
                    <File Id="EPICTTS.EXE.CONFIG" Name="EpicTTS.exe.config" Source="..\EpicTTS\bin\Release\EpicTTS.exe.config" />
                </Component>
                <Component Id="EPICTTS.PDB" DiskId="1" Guid="5F7D6BE4-4E91-4281-8F2B-A196FE2EF0B9">
                    <File Id="EPICTTS.PDB" Name="EpicTTS.pdb" Source="..\EpicTTS\bin\Release\EpicTTS.pdb" />
                </Component>
                <Component Id="EPICTTS.VSHOST.EXE" DiskId="1" Guid="4C20C419-A232-4AC7-9CD1-BBD46D45FCC0">
                    <File Id="EPICTTS.VSHOST.EXE" Name="EpicTTS.vshost.exe" Source="..\EpicTTS\bin\Release\EpicTTS.vshost.exe" />
                </Component>
                <Component Id="EPICTTS.VSHOST.EXE.CONFIG" DiskId="1" Guid="9BF4232A-53E3-4CD1-B268-2935372D008D">
                    <File Id="EPICTTS.VSHOST.EXE.CONFIG" Name="EpicTTS.vshost.exe.config" Source="..\EpicTTS\bin\Release\EpicTTS.vshost.exe.config" />
                </Component>
                <Component Id="EPICTTS.VSHOST.EXE.MANIFEST" DiskId="1" Guid="717CEBE9-D05C-42CC-9331-8D93F7B47EE4">
                    <File Id="EPICTTS.VSHOST.EXE.MANIFEST" Name="EpicTTS.vshost.exe.manifest" Source="..\EpicTTS\bin\Release\EpicTTS.vshost.exe.manifest" />
                </Component>
                <Component Id="FIRSTFLOOR.MODERNUI.DLL" DiskId="1" Guid="8EDCFDD0-EC59-4F10-A98C-552C4B434446">
                    <File Id="FIRSTFLOOR.MODERNUI.DLL" Name="FirstFloor.ModernUI.dll" Source="..\EpicTTS\bin\Release\FirstFloor.ModernUI.dll" />
                </Component>
                <Component Id="FIRSTFLOOR.MODERNUI.XML" DiskId="1" Guid="58598894-5168-418D-A79D-C0E0EB1E2B61">
                    <File Id="FIRSTFLOOR.MODERNUI.XML" Name="FirstFloor.ModernUI.xml" Source="..\EpicTTS\bin\Release\FirstFloor.ModernUI.xml" />
                </Component>
                <Component Id="FLUENT.DLL" DiskId="1" Guid="31FEE311-B219-453D-A666-18F6375C9652">
                    <File Id="FLUENT.DLL" Name="Fluent.dll" Source="..\EpicTTS\bin\Release\Fluent.dll" />
                </Component>
                <Component Id="FLUENT.XML" DiskId="1" Guid="69D55A97-4458-4DF5-93DB-2097963203BF">
                    <File Id="FLUENT.XML" Name="Fluent.xml" Source="..\EpicTTS\bin\Release\Fluent.xml" />
                </Component>
                <Component Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.DLL" DiskId="1" Guid="4A65C777-F9C9-46AA-9631-AC87217406F3">
                    <File Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.DLL" Name="GalaSoft.MvvmLight.Extras.WPF45.dll" Source="..\EpicTTS\bin\Release\GalaSoft.MvvmLight.Extras.WPF45.dll" />
                </Component>
                <Component Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.XML" DiskId="1" Guid="7885F103-A556-40B0-8F08-A981538CDE22">
                    <File Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.XML" Name="GalaSoft.MvvmLight.Extras.WPF45.xml" Source="..\EpicTTS\bin\Release\GalaSoft.MvvmLight.Extras.WPF45.xml" />
                </Component>
                <Component Id="GALASOFT.MVVMLIGHT.WPF45.DLL" DiskId="1" Guid="FCA7001B-EF04-43C9-85F2-5F26527DEA8A">
                    <File Id="GALASOFT.MVVMLIGHT.WPF45.DLL" Name="GalaSoft.MvvmLight.WPF45.dll" Source="..\EpicTTS\bin\Release\GalaSoft.MvvmLight.WPF45.dll" />
                </Component>
                <Component Id="GALASOFT.MVVMLIGHT.WPF45.XML" DiskId="1" Guid="F461ED76-FB84-4172-A8E0-BCD2420B0B27">
                    <File Id="GALASOFT.MVVMLIGHT.WPF45.XML" Name="GalaSoft.MvvmLight.WPF45.xml" Source="..\EpicTTS\bin\Release\GalaSoft.MvvmLight.WPF45.xml" />
                </Component>
                <Component Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" DiskId="1" Guid="43B10505-AA4D-447B-AFB2-226391A29511">
                    <File Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" Name="Microsoft.Practices.ServiceLocation.dll" Source="..\EpicTTS\bin\Release\Microsoft.Practices.ServiceLocation.dll" />
                </Component>
                <Component Id="MICROSOFT.PRACTICES.SERVICELOCATION.XML" DiskId="1" Guid="2FCA202C-98CC-4737-82C1-10505B4DCB04">
                    <File Id="MICROSOFT.PRACTICES.SERVICELOCATION.XML" Name="Microsoft.Practices.ServiceLocation.xml" Source="..\EpicTTS\bin\Release\Microsoft.Practices.ServiceLocation.xml" />
                </Component>
                <Component Id="REACTIVEPROPERTY.DATAANNOTATIONS.DLL" DiskId="1" Guid="6C845C32-80F9-4AC8-9E33-D7FF0E2D2B0C">
                    <File Id="REACTIVEPROPERTY.DATAANNOTATIONS.DLL" Name="ReactiveProperty.DataAnnotations.dll" Source="..\EpicTTS\bin\Release\ReactiveProperty.DataAnnotations.dll" />
                </Component>
                <Component Id="REACTIVEPROPERTY.DATAANNOTATIONS.XML" DiskId="1" Guid="5AD9A906-FCD7-4ACA-B15D-72CE18360804">
                    <File Id="REACTIVEPROPERTY.DATAANNOTATIONS.XML" Name="ReactiveProperty.DataAnnotations.xml" Source="..\EpicTTS\bin\Release\ReactiveProperty.DataAnnotations.xml" />
                </Component>
                <Component Id="REACTIVEPROPERTY.DLL" DiskId="1" Guid="A7C6AB65-0876-4E35-8A50-3CB948689583">
                    <File Id="REACTIVEPROPERTY.DLL" Name="ReactiveProperty.dll" Source="..\EpicTTS\bin\Release\ReactiveProperty.dll" />
                </Component>
                <Component Id="REACTIVEPROPERTY.NET45.DLL" DiskId="1" Guid="6E2A7A19-D306-420C-B17E-BAC0E85B31DE">
                    <File Id="REACTIVEPROPERTY.NET45.DLL" Name="ReactiveProperty.NET45.dll" Source="..\EpicTTS\bin\Release\ReactiveProperty.NET45.dll" />
                </Component>
                <Component Id="REACTIVEPROPERTY.NET45.XML" DiskId="1" Guid="FC980BC3-8E6D-4E18-9FCD-A98731587E43">
                    <File Id="REACTIVEPROPERTY.NET45.XML" Name="ReactiveProperty.NET45.xml" Source="..\EpicTTS\bin\Release\ReactiveProperty.NET45.xml" />
                </Component>
                <Component Id="REACTIVEPROPERTY.XML" DiskId="1" Guid="C4FC2715-6BE7-4AAB-A5E5-23756A259FA0">
                    <File Id="REACTIVEPROPERTY.XML" Name="ReactiveProperty.xml" Source="..\EpicTTS\bin\Release\ReactiveProperty.xml" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.CORE.DLL" DiskId="1" Guid="28FD5C8E-01D7-4E5A-9A9A-795A4F47C218">
                    <File Id="SYSTEM.REACTIVE.CORE.DLL" Name="System.Reactive.Core.dll" Source="..\EpicTTS\bin\Release\System.Reactive.Core.dll" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.CORE.XML" DiskId="1" Guid="7C0E2312-9BFD-40B0-ADE8-8792A9D5AEF4">
                    <File Id="SYSTEM.REACTIVE.CORE.XML" Name="System.Reactive.Core.xml" Source="..\EpicTTS\bin\Release\System.Reactive.Core.xml" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.INTERFACES.DLL" DiskId="1" Guid="1221AC62-CE33-4F51-B2BF-5573201F79D7">
                    <File Id="SYSTEM.REACTIVE.INTERFACES.DLL" Name="System.Reactive.Interfaces.dll" Source="..\EpicTTS\bin\Release\System.Reactive.Interfaces.dll" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.INTERFACES.XML" DiskId="1" Guid="F1A8BC0B-41FB-4E29-8EB7-372A9EEF49C2">
                    <File Id="SYSTEM.REACTIVE.INTERFACES.XML" Name="System.Reactive.Interfaces.xml" Source="..\EpicTTS\bin\Release\System.Reactive.Interfaces.xml" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.LINQ.DLL" DiskId="1" Guid="1A77975C-6B14-4454-8270-B80489E6B5C4">
                    <File Id="SYSTEM.REACTIVE.LINQ.DLL" Name="System.Reactive.Linq.dll" Source="..\EpicTTS\bin\Release\System.Reactive.Linq.dll" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.LINQ.XML" DiskId="1" Guid="502A0536-A500-413F-B863-B179D20D26CE">
                    <File Id="SYSTEM.REACTIVE.LINQ.XML" Name="System.Reactive.Linq.xml" Source="..\EpicTTS\bin\Release\System.Reactive.Linq.xml" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.PLATFORMSERVICES.DLL" DiskId="1" Guid="21C21A39-A863-40EA-9914-4E17FF2CEBA7">
                    <File Id="SYSTEM.REACTIVE.PLATFORMSERVICES.DLL" Name="System.Reactive.PlatformServices.dll" Source="..\EpicTTS\bin\Release\System.Reactive.PlatformServices.dll" />
                </Component>
                <Component Id="SYSTEM.REACTIVE.PLATFORMSERVICES.XML" DiskId="1" Guid="5366E8D9-2661-4CE0-9B97-BE646865C264">
                    <File Id="SYSTEM.REACTIVE.PLATFORMSERVICES.XML" Name="System.Reactive.PlatformServices.xml" Source="..\EpicTTS\bin\Release\System.Reactive.PlatformServices.xml" />
                </Component>
                <Component Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" DiskId="1" Guid="80ABD7FB-DB94-498A-8E5A-DE6FD607A2EA">
                    <File Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" Name="System.Windows.Interactivity.dll" Source="..\EpicTTS\bin\Release\System.Windows.Interactivity.dll" />
                </Component>
            </Directory>
            <Directory Id="DesktopFolder" />
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="EpicTTS">
                    <Component Id="StartMenuShortcuts" Guid="AF969EF2-21DC-46D4-A909-13B9D81BBED3">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
                        <Shortcut Id="UninstallProduct" Name="Uninstall EpicTTS" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
                        <util:InternetShortcut Id="WebsiteShortcut" Name="The EpicTTS website" Target="https://github.com/ApocalypticOctopus/EpicTTS" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="COMMANDLINE.DLL" />
            <ComponentRef Id="COMMANDLINE.XML" />
            <ComponentRef Id="EPICTTS.EXE" />
            <ComponentRef Id="EPICTTS.EXE.CONFIG" />
            <ComponentRef Id="EPICTTS.PDB" />
            <ComponentRef Id="EPICTTS.VSHOST.EXE" />
            <ComponentRef Id="EPICTTS.VSHOST.EXE.CONFIG" />
            <ComponentRef Id="EPICTTS.VSHOST.EXE.MANIFEST" />
            <ComponentRef Id="FIRSTFLOOR.MODERNUI.DLL" />
            <ComponentRef Id="FIRSTFLOOR.MODERNUI.XML" />
            <ComponentRef Id="FLUENT.DLL" />
            <ComponentRef Id="FLUENT.XML" />
            <ComponentRef Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.DLL" />
            <ComponentRef Id="GALASOFT.MVVMLIGHT.EXTRAS.WPF45.XML" />
            <ComponentRef Id="GALASOFT.MVVMLIGHT.WPF45.DLL" />
            <ComponentRef Id="GALASOFT.MVVMLIGHT.WPF45.XML" />
            <ComponentRef Id="MICROSOFT.PRACTICES.SERVICELOCATION.DLL" />
            <ComponentRef Id="MICROSOFT.PRACTICES.SERVICELOCATION.XML" />
            <ComponentRef Id="REACTIVEPROPERTY.DATAANNOTATIONS.DLL" />
            <ComponentRef Id="REACTIVEPROPERTY.DATAANNOTATIONS.XML" />
            <ComponentRef Id="REACTIVEPROPERTY.DLL" />
            <ComponentRef Id="REACTIVEPROPERTY.NET45.DLL" />
            <ComponentRef Id="REACTIVEPROPERTY.NET45.XML" />
            <ComponentRef Id="REACTIVEPROPERTY.XML" />
            <ComponentRef Id="SYSTEM.REACTIVE.CORE.DLL" />
            <ComponentRef Id="SYSTEM.REACTIVE.CORE.XML" />
            <ComponentRef Id="SYSTEM.REACTIVE.INTERFACES.DLL" />
            <ComponentRef Id="SYSTEM.REACTIVE.INTERFACES.XML" />
            <ComponentRef Id="SYSTEM.REACTIVE.LINQ.DLL" />
            <ComponentRef Id="SYSTEM.REACTIVE.LINQ.XML" />
            <ComponentRef Id="SYSTEM.REACTIVE.PLATFORMSERVICES.DLL" />
            <ComponentRef Id="SYSTEM.REACTIVE.PLATFORMSERVICES.XML" />
            <ComponentRef Id="SYSTEM.WINDOWS.INTERACTIVITY.DLL" />
            <ComponentRef Id="StartMenuShortcuts" />
        </Feature>
        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
        <UI />
        <UIRef Id="WixUI_Minimal" />
        <PropertyRef Id="NETFRAMEWORK35" />
        <Condition Message="This application requires .NET Framework X.Y.">Installed OR NETFRAMEWORK35</Condition>
        <Icon Id="DesktopIcon.exe" SourceFile="..\EpicTTS\bin\Release\EpicTTS.exe" />
        <Icon Id="StartMenuIcon.exe" SourceFile="..\EpicTTS\bin\Release\EpicTTS.exe" />
    </Product>
</Wix>